<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login Page Vulnerable</title>
</head>
<body>
<h1>Login Page</h1>
<form method="POST">
  Username: <input type="text" name="username_payload" placeholder="Enter username">
  Password: <input type="password" name="password_payload" placeholder="Enter password">
  <button type="submit">Login</button>
</form>
{% if value %}
<h3>Sorry</h3>
<p>
  We are not able to say if you are authenticated or not, it is a secret :)
</p>
{% endif %}
{% if sql_error %}
<h3>{{ sql_error }}</h3>
{% endif %}
</body>
</html>
